@font-face {
  font-family: "MyFont";
  src: url("../fonts/Michland\ Script.otf");
  font-style: normal;
  font-weight: 100;
}

:root {
  --black-transparent: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "MyFont";
  min-height: 100vh;
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: var(--black-transparent);
  color: white;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.nav h1 {
  font-size: 4rem;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttoncontainer button {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  font-size: 1.7rem;
  cursor: pointer;
  transition: box-shadow 0.25s, transform 0.25s;
}

.buttoncontainer button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.25em);
}

.contentbox {
  width: auto;
  padding: 30px;
  background-color: var(--black-transparent);
  margin: auto;
  font-size: 1.7rem;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s;
}

.boxinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
}

img {
  width: 40%;
  height: auto;
  border-radius: 100%;
}

.menucontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.itemcontainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  background-color: var(--black-transparent);
  align-items: center;
  justify-content: center;
  color: white;
}
