:root {
  --black-transparent: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", cursive;
  min-height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: var(--black-transparent);
  color: white;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.nav h1 {
  font-size: 3rem;
  cursor: pointer;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttoncontainer button {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.25s, transform 0.25s;
}

.buttoncontainer button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transform: translateY(-0.25em);
}

.contentbox {
  width: 700px;
  padding: 30px;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: var(--black-transparent);
  margin: auto;
}

.boxinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
}

img {
  width: 50%;
  height: auto;
  border-radius: 100%;
}
